@import "reset";
@import "mixin";
body{
    background: rgba(245, 241, 241, 1);
}

#header{
    width: 100%;
    height: 45px;
    background: #d90013;
    .header-wrap{
        width: 90%;
        height: 45px;
        margin: 0 auto;
        .header-left{
            margin-left: 4%;
            margin-right: 5%;
            width: 427px;
            height: 45px;
            float: left;
            li{
                float: left;
                height: 45px;
                position: relative;
                &:hover .nav2{
                    display: block;
                    
                }
                &:hover{
                    background-color: brown;
                }
                a{  
                    height: 45px;
                    line-height: 45px;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-right: 1px solid white;
                    span{
                        font-size: 15px;
                        line-height: 45px;
                     }
                     font-size: 12px;
                     color: white;
                }
                .nav2{
                    position: absolute;
                    top: 45px;
                    left: 0;
                    display: none;
                    z-index: 2;
                    li{
                        background-color:#d90013 ;
                        &:hover{
                            background-color: brown;
                        }
                    }
                }
                .lastone{
                    border: none;
                }
            }
        }
        .header-center{
            height: 45px;
            float: left;
            li{
                width: 80px;
                height: 45px;
                float: left;
                text-align: center;
                line-height: 45px;
                color: white;

            }
        }
        .header-right{
            width: 197px;
            height: 45px;
            float: right;
            li{
                float: left;
                line-height: 45px;
                &:hover{
                    background-color: brown;
                }
                a{
                    padding-left: 10px;
                    padding-right: 10px;
                    border-right: 1px solid white;
                    color: white;
                }
                .lastone{
                    border: none;
                }
            }
            .shopping-car{
                float: left;
                .icon-cart-Empty{
                    line-height: 45px;
                    font-size: 18px;
                    color: white;
                    margin-left: 20px;
                }
                span{
                    line-height: 45px;
                    font-size: 16px;
                    color: white;
                }
            }
        }
    }
    
}
#cz{
    .search{
        width: 90%;
        height: 40px;
        margin: 0 auto;
        margin-top: 30px;
        display: flex;
        input{
            width: 90%;
            height: 36px;
            font-size: 18px;
            line-height: 30px;
            border: 2px solid #d90013;
            outline: none;
        }
        .icon-icon-test{
            width: 9%;
            height: 40px;
            background: white;
            text-align: center;
            line-height: 40px;
            font-size: 30px;
            color: white;
            background: #d90013;
            cursor: pointer;
        }
    }
    .keyword{
        width: 856px;
        height: 40px;
        margin-left: 86px;
        li{
            float: left;
            line-height: 40px;
            text-align: left;
            font-size: 12px;
            color: gray;
            margin-right: 20px;
            &:hover{
                font-size: 14px;
                color: #d90013;
            }
        }
    }
}
#poster{
    width: 100%;
    height: 377px;
    img{
        width: 100%;
        height: 100%;
    }
}
#goodsBox{
    width: 100%;
    margin-top: 30px;
    .goodsBox-wrap{
        width: 1160px;
        margin: 0 auto;
        .biaoti{
            font-size: 30px;
            font-weight: 200;
        }
        .goods{
            width: 1160px;
            margin-bottom: 100px;
            &::after{
                @include clearBoth;
            }
            li{
                width: 385px;
                height: 420px;
                float: left;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                img{
                    width: 285px;
                    height: 300px;
                }
                span{
                    font-size: 20px;
                    line-height: 20px;
                }
                p{
                    color: #d90013;
                    font-size: 16px;
                }
                a{
                    display: block;
                    width: 180px;
                    height: 20px;
                    line-height: 20px;
                    border-radius: 4px;
                    background: #d90013;
                    color: white;
                    text-align: center;
                }
            }
        }
    }
}
