@import "reset";
@import "mixin";
body{
    background: rgba(245, 241, 241, 1);
}

#header{
    width: 100%;
    height: 45px;
    background: #d90013;
    .header-wrap{
        width: 90%;
        height: 45px;
        margin: 0 auto;
        .header-left{
            margin-left: 4%;
            margin-right: 5%;
            width: 427px;
            height: 45px;
            float: left;
            li{
                float: left;
                height: 45px;
                position: relative;
                &:hover .nav2{
                    display: block;
                    
                }
                &:hover{
                    background-color: brown;
                }
                a{  
                    height: 45px;
                    line-height: 45px;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-right: 1px solid white;
                    span{
                        font-size: 15px;
                        line-height: 45px;
                     }
                     font-size: 12px;
                     color: white;
                }
                .nav2{
                    position: absolute;
                    top: 45px;
                    left: 0;
                    display: none;
                    z-index: 2;
                    li{
                        background-color:#d90013 ;
                        &:hover{
                            background-color: brown;
                        }
                    }
                }
                .lastone{
                    border: none;
                }
            }
        }
        .header-center{
            height: 45px;
            float: left;
            li{
                width: 80px;
                height: 45px;
                float: left;
                text-align: center;
                line-height: 45px;
                color: white;
                a{  
                    display: block;
                    color: white;
                    width: 80px;
                    height: 45px;
                }
            }
        }
        .header-right{
            width: 197px;
            height: 45px;
            float: right;
            li{
                float: left;
                line-height: 45px;
                &:hover{
                    background-color: brown;
                }
                a{
                    padding-left: 10px;
                    padding-right: 10px;
                    border-right: 1px solid white;
                    color: white;
                }
                .lastone{
                    border: none;
                }
            }
            .shopping-car{
                float: left;
                .icon-cart-Empty{
                    line-height: 45px;
                    font-size: 18px;
                    color: white;
                    margin-left: 20px;
                }
                span{
                    line-height: 45px;
                    font-size: 16px;
                    color: white;
                }
            }
        }
    }
    
}
#shop{
    width: 100%;
    margin-top: 50px;
    .shop-wrap{
        width: 1260px;
        margin: 0 auto;
        box-sizing: border-box;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: flex-end;
        .shop-name{
            width: 1260px;
            height: 60px;
            text-align: center;
            line-height: 60px;
            color: black;
            font-size: 30px;
        }
        .mingxi{
            width: 1260px;
            box-sizing: border-box;
            display: flex;
            .check{
                width: 100px;
                height: 40px;
                border: 1px solid black;
                border-right: none;
                text-align: center;
                line-height: 40px;
                box-sizing: border-box;
            }
            .name{
                width: 500px;
                height: 40px;   
                border: 1px solid black;
                text-align: center;
                line-height: 40px;
                box-sizing: border-box;
                border-right: none;
            }
            .num{
                width: 200px;
                height: 40px;
                border: 1px solid black;
                text-align: center;
                line-height: 40px;
                box-sizing: border-box;
                border-right: none;
            }
            .price-one{
                width: 180px;
                height: 40px;
                border: 1px solid black;
                text-align: center;
                line-height: 40px;
                box-sizing: border-box;
                border-right: none;
            }
            .price{
                width: 180px;
                height: 40px;
                border: 1px solid black;
                text-align: center;
                line-height: 40px;
                box-sizing: border-box;
            }
            .delete{
                width: 100px;
                height: 40px;
                box-sizing: border-box;
                border: 1px solid black;
                border-left: none;
                border-right: none;
                text-align: center;
                line-height: 40px;
            }
        }
        .good{
            ul{
                display: flex;
                width: 1260px;
                .good-check{
                    width: 100px;
                    height: 80px;
                    text-align: center;
                    line-height: 80px;
                }
                .good-name{
                    width: 500px;
                    height: 80px;   
                    text-align: center;
                    line-height: 80px;
                    display: flex;
                    img{
                        width: 200px;
                        height: 80px;
                        background: blue;
                    }
                    .name{
                        width: 300px;
                        height: 80px;
                        text-align: center;
                        line-height: 80px;
                        font-size: 12px;
                    }
                }
                .good-num{
                    width: 200px;
                    height: 80px;
                    text-align: center;
                    line-height: 80px;
                    display: flex;
                    padding-top: 20px;
                    box-sizing: border-box;
                    padding-left: 30px;
                    button{
                        width: 40px;
                        height: 40px;
                        text-align: center;
                        font-size: 20px;
                        line-height: 40px;
                    }
                    span{
                        display: block;
                        width: 50px;
                        height: 28px;
                        font-size: 26px;
                        line-height: 28px;
                        text-align: center;
                    }
                }
                .good-priceone{
                    width: 180px;
                    height: 80px;
                    text-align: center;
                    line-height: 80px;
                    font-size: 30px;
                }
                .good-price{
                    width: 180px;
                    height: 80px;
                    text-align: center;
                    font-size: 30px;
                    line-height: 80px;
                }
                .good-delete{
                    width: 100px;
                    height: 80px;
                    text-align: center;
                    line-height: 80px;
                    color: red;
                }
            }
        }
        .total{
            width: 360px;
            height: 60px;
            display: flex;
            .total-l{
                width: 180px;
                height: 60px;
                text-align: center;
                line-height: 60px;
                font-size: 26px;
            }
            .total-r{
                width: 170px;
                height: 60px;
                text-align: center;
                line-height: 60px;
                font-size: 26px;
            }
        }
        .pay{
            display: block;
            width: 200px;
            height: 40px;
        }
    }
}